body, html {
  height: 100%;
  width: 100%;
}

header {
  min-height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/macbook.jpg);
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding-top: 10%;
}

.night-mouse {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/night-apple-mouse-mac.jpg);
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

header .header-content {
  position: relative;
  width: 100%;
  padding: 100px 15px;
}

.navbar {
  background-color: #222;
  border-radius: 0;
}

.profile-picture {
  max-height: 150px;
  max-width: 150px;
  margin: 0 1.5rem 1.5rem 1.5rem;
  border: 3px solid #ccc;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.35), 0 0 0 2px rgba(255,255,255,0.1), 0 2px 0 0 rgba(255,255,255,0.45), 0 -2px 0 0 rgba(255,255,255,0.15),0 1px 3px 0 rgba(0,0,0,0.12),0 1px 2px 0 rgba(0,0,0,0.24);
}

.about.fa {
  color: #20AEB3;
  padding-bottom: 2rem;
}

.btn-warning {
  background-color: #FF8B00;
  border-color: #FF8B00;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  background-color: #ff7b00;
  border-color: #ff7b00;
}

.line {
  margin: 2rem auto;
  border-bottom: 4px solid #fff;
  width: 75px;
}

.orange {
  border-color: #FF8B00;
}

section {
  padding: 5rem 0;
}

.card {
  max-width: 750px;
}

.card-dark {
  background-color: #333;
  border-color: #333;
}

.team {
  background-color:#333;
}

.team .grid {
  background-image:linear-gradient(0deg,transparent 0%,transparent 18px,rgba(255,255,255,0.04) 18px,rgba(255,255,255,0.04) 20px,transparent 20px,transparent 38px,rgba(255,255,255,0.02) 38px,rgba(255,255,255,0.02) 40px,transparent 40px,transparent 58px,rgba(255,255,255,0.02) 58px,rgba(255,255,255,0.02) 60px,transparent 60px,transparent 78px,rgba(255,255,255,0.02) 78px,rgba(255,255,255,0.02) 80px,transparent 80px,transparent 98px,rgba(255,255,255,0.02) 98px,rgba(255,255,255,0.02) 100px ),linear-gradient(-90deg,transparent 0%,transparent 18px,rgba(255,255,255,0.04) 18px,rgba(255,255,255,0.04) 20px,transparent 20px,transparent 38px,rgba(255,255,255,0.02) 38px,rgba(255,255,255,0.02) 40px,transparent 40px,transparent 58px,rgba(255,255,255,0.02) 58px,rgba(255,255,255,0.02) 60px,transparent 60px,transparent 78px,rgba(255,255,255,0.02) 78px,rgba(255,255,255,0.02) 80px,transparent 80px,transparent 98px,rgba(255,255,255,0.02) 98px,rgba(255,255,255,0.02) 100px );;
  background-size:100px 100px;
}
