extends base.pug

block title
  title Page not found | StartupsLikeMe

block content
  section.jumbotron.text-xs-center(style='background-color: #dedede')
    h1.display-3.mb-3 Page not found
    p.lead
      a.btn.btn-primary.btn-lg(href='/', role='button') Take me home
