doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='Get alerts for the best startups for you.')
    block meta_tags
    block title
      title Best startups for you | StartupsLikeMe
    link(rel='icon', href='/images/favicon.png', type='image/png')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css', integrity='sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi', crossorigin='anonymous')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN', crossorigin='anonymous')
    link(rel='stylesheet', href='/css/style.css')
    script(src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async='async')
    script(type='text/javascript').
      // development
      /*var OneSignal = window.OneSignal || [];
      OneSignal.push(["init", {
        appId: "9b2c1b78-a0d9-4760-92b3-3ef3b7589730",
        autoRegister: false,
        subdomainName: 'startupslikemelocal',
        safari_web_id: 'web.onesignal.auto.3c6dd35c-6a89-4a57-8823-48d881ba6e9f',
        httpPermissionRequest: {
          enable: true
        },
        notifyButton: {
            enable: false
        }
      }]);*/
      // production
      var OneSignal = window.OneSignal || [];
      OneSignal.push(["init", {
        appId: "f8243a89-5790-400f-ab90-0cc7fbbedef6",
        autoRegister: false,
        subdomainName: 'startupslikeme',
        safari_web_id: 'web.onesignal.auto.235723f6-f2ef-49f2-bb5e-e966332d4e54',
        httpPermissionRequest: {
          enable: true
        },
        notifyButton: {
            enable: false
        }
      }]);
  body.align-middle.text-xs-center
    nav.navbar
      a.navbar-brand(href='/')
        img.align-top(src='/images/logo.png', height='30', alt='Startups Like Me')
    #globalError.alert.alert-danger(role='alert', style='display:none') Bad response. Please try again later.
    block content

    script(type='text/javascript').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-88453796-1', 'auto');
      ga('send', 'pageview');
    script(src='//code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
    script(src='/app.min.js')
    script(type='text/javascript').
      $(function() {
        /* Utils */
        $.urlParam = function(name){
          var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(window.location.href);
          return results[1] || 0;
        };
      });
    block scripts
