extends base.pug

block meta_tags
  meta(name='robots', content='noindex nofollow')

block title
  title Update Frequency | StartupsLikeMe

block content
  section.container
    h1.my-2 Update Frequency
    #done.alert.alert-success(role='alert', style='display:none')  Your email frequency has been updated!
    form#unsubscribe
      fieldset.form-group
        legend Frequency?
        .form-check-inline
          label.form-check-label.pl-0
            input#never.form-check-input(type='radio', name='frequency', value='never')
            |  Never
        .form-check-inline
          label.form-check-label.pl-0
            input#daily.form-check-input(type='radio', name='frequency', value='daily')
            |  Daily
        .form-check-inline
          label.form-check-label
            input#weekly.form-check-input(type='radio', name='frequency', value='weekly', checked='')
            |  Weekly
        .form-check-inline
          label.form-check-label
            input#monthly.form-check-input(type='radio', name='frequency', value='monthly')
            |  Monthly
        .form-control-feedback.error(style='display:none;')  Sorry, it appears that was an error. Please try again later?
      .text-xs-right
        button.btn.btn-info(type='submit') Save

block scripts
  script(type='text/javascript').
    $(function() {
      var frequency = "daily";
      var canidateId = $.urlParam('candidate');
      var access_token = $.urlParam('access_token');

      $("#unsubscribe input:radio[name=frequency]").click(function() {
        frequency = $(this).val();
      });

      $("#unsubscribe").submit(function(event) {
        event.preventDefault();
        var data = {
          frequency: frequency,
          access_token: access_token
        };
        function unsubSuccess(msg) {
          $('#done').show();
        }
        function unsubError(msg) {
          $('#unsubscribe .error').show();
        }
        patchCandidates(canidateId, data, unsubSuccess, unsubError);
      });
    });
