doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='Get alerts for the best startups for you.')
    block meta_tags
    block title
      title Best startups for you | StartupsLikeMe
    link(rel='icon', href='/images/favicon.png', type='image/png')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css', integrity='sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi', crossorigin='anonymous')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN', crossorigin='anonymous')
    link(rel='stylesheet', href='/css/style.css')
    script(src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async='async')
    script(type='text/javascript').
      // development
      /*var OneSignal = window.OneSignal || [];
      OneSignal.push(["init", {
        appId: "9b2c1b78-a0d9-4760-92b3-3ef3b7589730",
        autoRegister: false,
        subdomainName: 'startupslikemelocal',
        safari_web_id: 'web.onesignal.auto.3c6dd35c-6a89-4a57-8823-48d881ba6e9f',
        httpPermissionRequest: {
          enable: true
        },
        notifyButton: {
            enable: false
        }
      }]);*/
      // production
      var OneSignal = window.OneSignal || [];
      OneSignal.push(["init", {
        appId: "f8243a89-5790-400f-ab90-0cc7fbbedef6",
        autoRegister: false,
        subdomainName: 'startupslikeme',
        safari_web_id: 'web.onesignal.auto.235723f6-f2ef-49f2-bb5e-e966332d4e54',
        httpPermissionRequest: {
          enable: true
        },
        notifyButton: {
            enable: false
        }
      }]);
  body.align-middle.text-xs-center
    nav.navbar
      a.navbar-brand(href='/')
        img.align-top(src='/images/logo.png', height='30', alt='Startups Like Me')
    #globalError.alert.alert-danger(role='alert', style='display:none') Bad response. Please try again later.
    style.
      .navbar {
        background-color: transparent!important;
        position: absolute;
      }

    header.text-white
      .header-content
        .header-content-inner
          h1 Cool startups tailored for you !
          .line.orange
          #step1Email(style='display:none')
            p
              | Simply vote on the startups you like
              br
              |  and we will give even better matches
            form#subscribe.form-inline
              .form-group
                input.form-control.mt-1(type='email', name='email' placeholder='Enter your email...', required='')
                button.btn.btn-warning.mt-1(type='submit') Subscribe
                .form-control-feedback.error(style='display:none;')  Sorry, it appears that was an error. Please try again later.
          #step1WebPush
            p
              | Simply vote on the startups you like
              br
              |  and we will give even better matches
            button.btn.btn-warning.mt-1#subscribeWebPush Subscribe
            .form-control-feedback.error(style='display:none;')  It appears that was an error. Please try again later.
          #step2(style='display:none')
            .card.card-inverse.card-dark.mx-auto.text-xs-left
              .card-block
                div(clss='card-text')
                  form#auth
                    fieldset.form-group
                      legend Web push or email?
                      .form-check-inline
                        label.form-check-label.pl-0
                          input#daily.form-check-input(type='radio', name='notification_method', value='web_push', checked='checked')
                          |  Web Push
                      .form-check-inline
                        label.form-check-label
                          input#weekly.form-check-input(type='radio', name='notification_method', value='email')
                          |  Email
                    fieldset.form-group
                      legend Email
                      input.form-control.mt-1(type='email', name='email' placeholder='Enter your email...', required='')
                    fieldset.form-group
                      legend How often do you want to discover new startups?
                      .form-check-inline
                        label.form-check-label.pl-0
                          input#daily.form-check-input(type='radio', name='frequency', value='daily')
                          |  Daily
                      .form-check-inline
                        label.form-check-label
                          input#weekly.form-check-input(type='radio', name='frequency', value='weekly', checked='')
                          |  Weekly
                      .form-check-inline
                        label.form-check-label
                          input#monthly.form-check-input(type='radio', name='frequency', value='monthly')
                          |  Monthly
                    .form-control-feedback.error(style='display:none;')  Sorry, it appears that was an error. Please try again later.
                    .text-xs-right
                      button.btn.btn-info(type='submit') Save
          #done(style='display:none')
            .card.card-inverse.card-success.mx-auto.text-xs-center
              .card-block
                blockquote.card-blockquote  Thanks for signing up! Hope you enjoy!
    #about
      section.about.container
        h2.mb-3 How it works
        .row
          .col-md-4
            span.fa.fa-building.fa-5x
            h3 We find the latest startups
            p
              | Our army of spiders crawls all through the web finding the latest and greatest startups.
          .col-md-4
            span.fa.fa-cogs.fa-5x
            h3 Machine Learning is applied
            p We take your startup ratings to map you with better startups
          .col-md-4
            span.fa.fa-check.fa-5x
            h3 We email you the best
            p We email the startups that best match you
      section.text-white.night-mouse
        h2 What we are about
        .line
        p
          | Taking the work out of finding the perfect startup by doing the research for you
    .team.text-white
      section#team.grid
        .container
          h2.mb-3 Our Team
          .row.text-md-left
            .col-md-6.mb-2
              img.profile-picture.float-md-left.rounded(src='images/robot.png', alt='Tic-Toc')
              h3 Tic-Toc
              p Tic-Toc works round the clock to bring you the best startups
            .col-md-6.mb-2
              img.profile-picture.float-md-left.rounded(src='images/stewart-park.png', alt='Stewart Park')
              h3 Stewart Park
              p
                | It is unclear if he is just a really good programer or a AI from the future. All we know is he`s fueled by PBR
          .row.text-md-left
            .col-md-6.mb-2
              img.profile-picture.float-md-left.rounded(src='images/tim-best.png', alt='Tim Best')
              h3 Tim Best
              p Something something pun about his last name being best
            .col-md-6.mb-2
              img.profile-picture.float-md-left.rounded(src='images/uncle-sam.png', alt='You')
              h3 You
              p &#128521;

    script(type='text/javascript').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-88453796-1', 'auto');
      ga('send', 'pageview');
    script(src='//code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
    script(src='/app.min.js')
    script(type='text/javascript').
      $(function() {
        /* Utils */
        $.urlParam = function(name){
          var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(window.location.href);
          return results[1] || 0;
        };
      });
    script(type='text/javascript').
      $(function() {
        var frequency = 'daily';
        var candidateID = null;
        var access_token = null;
        var email = null;
        var onesignal_id = null;
        var notification_method = null;

        // ask for email if browser does not support web push
        OneSignal.push(function() {
          var isPushSupported = OneSignal.isPushNotificationsSupported();
          if (isPushSupported) {
            OneSignal.isPushNotificationsEnabled(function(isEnabled) {
              $('#step1Email').hide();
              if (isEnabled) {
                $('#step1WebPush').hide();
                $('#step2').show();
              } else {
                $('#step1WebPush').show();
              }
            });
          } else {
            $('#step1Email').show();
            $('#step1WebPush').hide();
          }
        });

        // Prompt user for push notification
        $('#subscribeWebPush').click(function(event) {
          OneSignal.push(function() {
            OneSignal.registerForPushNotifications();
          });
        });

        OneSignal.push(function() {
        // Occurs when the user's subscription changes to a new value.
        OneSignal.on('subscriptionChange', function (isSubscribed) {
          if (isSubscribed) {
            OneSignal.getUserId(function(userId) {
              onesignal_id = userId;
              notification_method = 'web_push';
              var data = {
                onesignal_id: onesignal_id,
                notification_method: notification_method
              };
              function webpushSuccess(response) {
                candidateID = response.id;
                access_token = response.access_token;

                $('input:radio[value=web_push]').click()

                $('#step1WebPush').hide();
                $('#step2').show();
                $('#done').hide();
              }
              function webpushError(e) {
                $('#step1WebPush .form-group').addClass('has-danger');
                $('#step1Email .error').show();
              }
              postCandidates(data, webpushSuccess, webpushError);
            });
          }
        });
      });

        // submit email to create candidate
        $('#step1Email #subscribe').submit(function(event) {
          event.preventDefault();
          email = $("#step1Email input[name='email']").val()
          notification_method = 'email'
          var data = {
            email: email,
            notification_method: notification_method
          };
          function step1Success(response) {
            candidateID = response.id;
            access_token = response.access_token;

            $('input:radio[value=email]').click()

            $('#step1Email').hide();
            $('#step2').show();
            $("#step2 input[name='email']").val(email);
            $('#done').hide();
          }
          function step1error(e) {
            $('#step1Email .form-group').addClass('has-danger');
            if (e.error) {
              $('#step1Email .error').html(e.error);
            }
            if (e.error.email) {
              $('#step1Email .error').html(e.error.email);
            }
            $('#step1Email .error').show();
          }
          postCandidates(data, step1Success, step1error);
        });

        // Step 2 update preferances
        $("#step2 input:radio[name=frequency]").click(function() {
          frequency = $(this).val();
        });
        $("#step2 input:radio[name=notification_method]").click(function() {
          notification_method = $(this).val();
        });

        $("#step2 #auth").submit(function(event) {
          event.preventDefault();
          var data = {
            access_token: access_token,
            email: email,
            frequency: frequency,
            notification_method: notification_method
          };
          function step2Success(msg) {
            $('#step1').hide();
            $('#step2').hide();
            $('#done').show();
          }
          function step2Error(e) {
            $('#step2 .form-group').addClass('has-danger');
            $('#step2 .error').show();
          }
          patchCandidates(candidateID, data, step2Success, step2Error);
        });
      });
