extends base.pug

block meta_tags
  meta(name='robots', content='noindex nofollow')

block title
  title Rate these startups | StartupsLikeMe

block content
  .container.text-xs-left.mt-2
    #startupsData

block scripts
  script(type='text/javascript').
    $(function() {
      var emailId = $.urlParam('email_id');
      var access_token = $.urlParam('access_token');

      function drawTable(data) {
        for (var i = 0; i < data.length; i++) {
          drawRow(data[i]);
        }
        $('.intrest').click(function(event) {
          var currentIntrest = $(this);
          var startupID = $(this).data('startup-id');
          var ratingID = $(this).data('rating-id');
          var intrestLevel = $(this).data('intrest');
          if($(this).hasClass('active')) {
            intrestLevel = 0;
          }
          if (ratingID) {
            // patch rating
            var ratingData = {
              access_token: access_token,
              intrest_level: intrestLevel
            };
            function successFn(msg) {
              if(intrestLevel > 0.5) {
                currentIntrest.addClass('active btn-success');
              } else {
                currentIntrest.removeClass('active btn-success');
              }
            }
            function errorFn(msg) {
              $('#globalError').show();
            }
            patchRatings(ratingID, ratingData, successFn, errorFn);
          } else {
            // create rating
            var ratingData = {
              access_token: access_token,
              email_id: emailId,
              startup_id: startupID,
              intrest_level: intrestLevel
            }
            function successFn(msg) {
              currentIntrest.data('rating-id', msg.id);
              if(intrestLevel > 0.5) {
                currentIntrest.addClass('active btn-success');
              } else {
                currentIntrest.removeClass('active btn-success');
              }
            }
            function errorFn(msg) {
              $('#globalError').show();
            }
            postRatings(ratingData, successFn, errorFn);

          }
        });
      }

      function drawRow(rowData) {
        var locations = rowData.locations.map(function(l){return l.name;});
        var industries = rowData.industries.map(function(l){return l.name;});
        var startupsData = [
          '<div class="card" style="max-width: none">',
            '<div class="card-header">',
              '<h3 class="mb-0">',
                '<img src="',rowData.image_url,'" alt="',rowData.name,'" height="50" class="mr-1">',
                rowData.name,
                '<button class="intrest btn btn-secondary pull-right ml-1" id="rateStartup',rowData.id,'" data-startup-id="', rowData.id, '" data-intrest="0"><i class="fa fa-thumbs-down"></i> Dislike</button>',
                '<button class="intrest btn btn-secondary pull-right" id="rateStartup',rowData.id,'" data-startup-id="', rowData.id, '" data-intrest="1"><i class="fa fa-thumbs-up"></i> Like</button>',

              '</h3>',
            '</div>',
            '<div class="card-block">',
              '<div class="card-text"><b>Description: </b>',rowData.description,'</div>',
        ];
        if (locations.length) {
          startupsData.push('<div class="card-text"><b>Locations: </b>',locations.join(', '),'</div>');
        }
        if (industries.length) {
          startupsData.push('<div class="card-text"><b>Industry: </b>',industries.join(', '),'</div>');
        }
        if (rowData.number_of_employees) {
          startupsData.push('<div class="card-text"><b>Employees: </b>~',rowData.number_of_employees,'</div>');
        }
        startupsData.push(
          '<div class="card-text"><b>Website: </b><a href="',rowData.website_url,'" class="card-link" target="_blank">',rowData.website_url,'</a></div>',
            '<div class="card-text"><b>links: </b>'
        );
        if (rowData.crunchbase_url) {
          startupsData.push('<a href="',rowData.crunchbase_url,'" target="_blank" class="mr-1">crunchbase.com</a>');
        }
        if (rowData.angellist_url) {
          startupsData.push('<a href="',rowData.angellist_url,'" target="_blank" class="mr-1">angel.co</a>');
        }
        startupsData.push('</div></div></div>');

        $('#startupsData').append(startupsData.join(''));
      }

      /* API calls */

      // get startups
      var data = {
        email_id: emailId,
        access_token: access_token
      };
      function errorFn(msg) {
        $('#globalError').show();
      }
      listStartups(data, drawTable, errorFn);

      // get ratings
      function successFn(ratings) {
        for(i in ratings) {
          var likeBtn = $('#rateStartup'+ratings[i].startup_id);
          likeBtn.data('rating-id', ratings[i].id);
          if(ratings[i].intrest_level  > 0.5) {
            likeBtn.addClass('active btn-success');
          }
        }
      }
      listRatings(data, successFn, errorFn);

    });
